{
  "openapi": "3.0.2",
  "info": {
    "version": "1.0.0",
    "title": "Maia Score",
    "description": "",
    "termsOfService": "https://maiascore.com",
    "contact": {
      "name": "Engineering Team",
      "email": "engineering@ysnx.ai",
      "url": "https://synx.ai"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-generation-date": "02/26/2021 9:31:01 PM"
  },
  "x-hasEquivalentPaths": true,
  "servers": [
    {
      "url": "https://maiascore.com",
      "description": "Development server"
    },
    {
      "url": "https://maiascore.com",
      "description": "Staging server"
    },
    {
      "url": "https://maiascore.com",
      "description": "Production server"
    }
  ],
  "externalDocs": {
    "description": "Find out more",
    "url": "https://maias-score.github.io/documentation"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/company": {
      "get": {
        "deprecated": false,
        "description": "Returns current Maia customer company information.",
        "operationId": "getCompany",
        "responses": {
          "200": {
            "description": "Retrieve company document(s)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Company"
                  }
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Retreive company information",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "_limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results possible",
            "schema": {
              "type": "integer"
            },
            "deprecated": false
          },
          {
            "name": "_sort",
            "in": "query",
            "required": false,
            "description": "Sort according to a specific field.",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_start",
            "in": "query",
            "required": false,
            "description": "Skip a specific number of entries (especially useful for pagination)",
            "schema": {
              "type": "integer"
            },
            "deprecated": false
          },
          {
            "name": "=",
            "in": "query",
            "required": false,
            "description": "Get entries that matches exactly your input",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_ne",
            "in": "query",
            "required": false,
            "description": "Get records that are not equals to something",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_lt",
            "in": "query",
            "required": false,
            "description": "Get record that are lower than a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_lte",
            "in": "query",
            "required": false,
            "description": "Get records that are lower than or equal to a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_gt",
            "in": "query",
            "required": false,
            "description": "Get records that are greater than a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_gte",
            "in": "query",
            "required": false,
            "description": "Get records that are greater than  or equal a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_contains",
            "in": "query",
            "required": false,
            "description": "Get records that contains a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_containss",
            "in": "query",
            "required": false,
            "description": "Get records that contains (case sensitive) a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_in",
            "in": "query",
            "required": false,
            "description": "Get records that matches any value in the array of values",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "deprecated": false
          },
          {
            "name": "_nin",
            "in": "query",
            "required": false,
            "description": "Get records that doesn't match any value in the array of values",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "deprecated": false
          }
        ]
      },
      "put": {
        "deprecated": false,
        "description": "Updates current company information.",
        "operationId": "updateCompany",
        "responses": {
          "200": {
            "description": "Retrieve company document(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Update company information",
        "tags": [
          "Company"
        ],
        "requestBody": {
          "description": "The fields to update company information, non presents fields are ignored.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewCompany"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewCompany"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/NewCompany"
              }
            }
          }
        },
        "parameters": []
      }
    },
    "/customers": {
      "get": {
        "deprecated": false,
        "description": "This method requests and filters all customers records registered in database.",
        "operationId": "getCustomers",
        "responses": {
          "200": {
            "description": "Retrieve customers document(s)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Customers"
                  }
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Find all the customer records",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "_limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results possible",
            "schema": {
              "type": "integer"
            },
            "deprecated": false
          },
          {
            "name": "_sort",
            "in": "query",
            "required": false,
            "description": "Sort according to a specific field.",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_start",
            "in": "query",
            "required": false,
            "description": "Skip a specific number of entries (especially useful for pagination)",
            "schema": {
              "type": "integer"
            },
            "deprecated": false
          },
          {
            "name": "=",
            "in": "query",
            "required": false,
            "description": "Get entries that matches exactly your input",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_ne",
            "in": "query",
            "required": false,
            "description": "Get records that are not equals to something",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_lt",
            "in": "query",
            "required": false,
            "description": "Get record that are lower than a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_lte",
            "in": "query",
            "required": false,
            "description": "Get records that are lower than or equal to a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_gt",
            "in": "query",
            "required": false,
            "description": "Get records that are greater than a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_gte",
            "in": "query",
            "required": false,
            "description": "Get records that are greater than  or equal a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_contains",
            "in": "query",
            "required": false,
            "description": "Get records that contains a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_containss",
            "in": "query",
            "required": false,
            "description": "Get records that contains (case sensitive) a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_in",
            "in": "query",
            "required": false,
            "description": "Get records that matches any value in the array of values",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "deprecated": false
          },
          {
            "name": "_nin",
            "in": "query",
            "required": false,
            "description": "Get records that doesn't match any value in the array of values",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "deprecated": false
          }
        ]
      },
      "post": {
        "deprecated": false,
        "description": "This method is used to register a new customer into database. These information will be used for AI agent trainig.",
        "operationId": "createCustomer",
        "responses": {
          "200": {
            "description": "Retrieve customers document(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customers"
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Create a new customers record.",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "description": "While not every fields are required, is strongly recommended to fill out as many as possbile.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewCustomers"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewCustomers"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/NewCustomers"
              }
            }
          }
        }
      }
    },
    "/customers/count": {
      "get": {
        "deprecated": false,
        "description": "Perform an optmized _count_ of records, usually for pagination purposes.",
        "operationId": "countCustomers",
        "responses": {
          "200": {
            "description": "Retrieve customers document(s)",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Retrieve the numver of customers documents",
        "tags": [
          "Customers"
        ],
        "parameters": []
      }
    },
    "/customers/{id}": {
      "get": {
        "deprecated": false,
        "description": "Find one customers record using Id or Reference.",
        "operationId": "getCustomer",
        "responses": {
          "200": {
            "description": "Retrieve customers document(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customers"
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Find one customers record",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Customer Id",
            "deprecated": false,
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "deprecated": false,
        "description": "This methods updates the information for a single customer.",
        "operationId": "updateCustomer",
        "responses": {
          "200": {
            "description": "Retrieve customers document(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customers"
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Update a single customers record.",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "description": "Fields to update the customer.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewCustomers"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewCustomers"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/NewCustomers"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Customer Id",
            "deprecated": false,
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "deprecated": false,
        "description": "Delete a single customers record",
        "operationId": "deleteCustomer",
        "responses": {
          "200": {
            "description": "deletes a single customers based on the ID supplied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Delete a single customers record",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Customer Id",
            "deprecated": false,
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/datasources": {
      "get": {
        "deprecated": false,
        "description": "Used to fetch information about all the datasource records where customers and their payments historial is stored.",
        "operationId": "getDatasources",
        "responses": {
          "200": {
            "description": "Retrieve datasources document(s)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Datasources"
                  }
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Find all the datasource records",
        "tags": [
          "Datasources"
        ],
        "parameters": [
          {
            "name": "_limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results possible",
            "schema": {
              "type": "integer"
            },
            "deprecated": false
          },
          {
            "name": "_sort",
            "in": "query",
            "required": false,
            "description": "Sort according to a specific field.",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_start",
            "in": "query",
            "required": false,
            "description": "Skip a specific number of entries (especially useful for pagination)",
            "schema": {
              "type": "integer"
            },
            "deprecated": false
          },
          {
            "name": "=",
            "in": "query",
            "required": false,
            "description": "Get entries that matches exactly your input",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_ne",
            "in": "query",
            "required": false,
            "description": "Get records that are not equals to something",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_lt",
            "in": "query",
            "required": false,
            "description": "Get record that are lower than a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_lte",
            "in": "query",
            "required": false,
            "description": "Get records that are lower than or equal to a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_gt",
            "in": "query",
            "required": false,
            "description": "Get records that are greater than a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_gte",
            "in": "query",
            "required": false,
            "description": "Get records that are greater than  or equal a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_contains",
            "in": "query",
            "required": false,
            "description": "Get records that contains a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_containss",
            "in": "query",
            "required": false,
            "description": "Get records that contains (case sensitive) a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_in",
            "in": "query",
            "required": false,
            "description": "Get records that matches any value in the array of values",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "deprecated": false
          },
          {
            "name": "_nin",
            "in": "query",
            "required": false,
            "description": "Get records that doesn't match any value in the array of values",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "deprecated": false
          }
        ]
      },
      "post": {
        "deprecated": false,
        "description": "Creates, test and connects a new data source based on the secutiry scheme selected.",
        "operationId": "createDatasource",
        "responses": {
          "200": {
            "description": "Retrieve datasources document(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Datasources"
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Create a new datasources record",
        "tags": [
          "Datasources"
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewDatasources"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewDatasources"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/NewDatasources"
              }
            }
          }
        }
      }
    },
    "/datasources/count": {
      "get": {
        "deprecated": false,
        "description": "Get the number of current data sources.",
        "operationId": "countDatasources",
        "responses": {
          "200": {
            "description": "Retrieve datasources document(s)",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Retrieve the number of datasources documents",
        "tags": [
          "Datasources"
        ],
        "parameters": []
      }
    },
    "/datasources/{id}": {
      "get": {
        "deprecated": false,
        "description": "Retrieve information about the selected data source based on the `Id`",
        "operationId": "getDatasource",
        "responses": {
          "200": {
            "description": "Retrieve datasources document(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Datasources"
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requires authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Find one datasources record",
        "tags": [
          "Datasources"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Datasource Id",
            "deprecated": false,
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "deprecated": false,
        "description": "Update and test a new connection to a data source.",
        "operationId": "updateDatasource",
        "responses": {
          "200": {
            "description": "Retrieve datasources document(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Datasources"
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Fields to uptade a data source",
        "tags": [
          "Datasources"
        ],
        "requestBody": {
          "description": "Update a single datasources record",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewDatasources"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewDatasources"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/NewDatasources"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Datasource Id",
            "deprecated": false,
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "deprecated": false,
        "description": "Removes the connection with a data source and erases login information. Please note that a reference of the data source will remain to ensure consistence about data origin on customer and payment records, but data source cannot be longer used or accessed.",
        "operationId": "deleteDatasource",
        "responses": {
          "200": {
            "description": "deletes a single datasources based on the ID supplied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Delete a single datasources record",
        "tags": [
          "Datasources"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Datasource Id",
            "deprecated": false,
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/payments": {
      "get": {
        "deprecated": false,
        "description": "Retrieves and filter a list of payment records.",
        "operationId": "getPayments",
        "responses": {
          "200": {
            "description": "Retrieve payments document(s)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Payments"
                  }
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Find all the payment records",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "_limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results possible",
            "schema": {
              "type": "integer"
            },
            "deprecated": false
          },
          {
            "name": "_sort",
            "in": "query",
            "required": false,
            "description": "Sort according to a specific field.",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_start",
            "in": "query",
            "required": false,
            "description": "Skip a specific number of entries (especially useful for pagination)",
            "schema": {
              "type": "integer"
            },
            "deprecated": false
          },
          {
            "name": "=",
            "in": "query",
            "required": false,
            "description": "Get entries that matches exactly your input",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_ne",
            "in": "query",
            "required": false,
            "description": "Get records that are not equals to something",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_lt",
            "in": "query",
            "required": false,
            "description": "Get record that are lower than a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_lte",
            "in": "query",
            "required": false,
            "description": "Get records that are lower than or equal to a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_gt",
            "in": "query",
            "required": false,
            "description": "Get records that are greater than a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_gte",
            "in": "query",
            "required": false,
            "description": "Get records that are greater than  or equal a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_contains",
            "in": "query",
            "required": false,
            "description": "Get records that contains a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_containss",
            "in": "query",
            "required": false,
            "description": "Get records that contains (case sensitive) a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_in",
            "in": "query",
            "required": false,
            "description": "Get records that matches any value in the array of values",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "deprecated": false
          },
          {
            "name": "_nin",
            "in": "query",
            "required": false,
            "description": "Get records that doesn't match any value in the array of values",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "deprecated": false
          }
        ]
      },
      "post": {
        "deprecated": false,
        "description": "Register a new payment to a customer historial.",
        "operationId": "createPayment",
        "responses": {
          "200": {
            "description": "Retrieve payments document(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payments"
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Create a new payments record",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPayments"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewPayments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/NewPayments"
              }
            }
          }
        }
      }
    },
    "/payments/count": {
      "get": {
        "deprecated": false,
        "description": "Count payments across all users and data sources.",
        "operationId": "countPayments",
        "responses": {
          "200": {
            "description": "Retrieve payments document(s)",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Retrieve the number of payments records",
        "tags": [
          "Payments"
        ],
        "parameters": []
      }
    },
    "/payments/{id}": {
      "get": {
        "deprecated": false,
        "description": "Gets a payment event from its `Id`",
        "operationId": "getPayment",
        "responses": {
          "200": {
            "description": "Retrieve payments document(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payments"
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Find one payments record",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Payment Id",
            "deprecated": false,
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "deprecated": false,
        "description": "Updates a payment event.",
        "operationId": "updatePayment",
        "responses": {
          "200": {
            "description": "Retrieve payments document(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payments"
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Update a single payments record",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "description": "The fields to update the record.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPayments"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewPayments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/NewPayments"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Payment Id",
            "deprecated": false,
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "deprecated": false,
        "description": "Removes a payment record for local records.",
        "operationId": "deletePayment",
        "responses": {
          "200": {
            "description": "deletes a single payments based on the ID supplied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Delete a single payments record",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Payment Id",
            "deprecated": false,
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/reports": {
      "get": {
        "deprecated": false,
        "description": "Retrieves and filters a list of score reports.",
        "operationId": "getReports",
        "responses": {
          "200": {
            "description": "Retrieve reports document(s)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Reports"
                  }
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Find all the score reports",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "_limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results possible",
            "schema": {
              "type": "integer"
            },
            "deprecated": false
          },
          {
            "name": "_sort",
            "in": "query",
            "required": false,
            "description": "Sort according to a specific field.",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_start",
            "in": "query",
            "required": false,
            "description": "Skip a specific number of entries (especially useful for pagination)",
            "schema": {
              "type": "integer"
            },
            "deprecated": false
          },
          {
            "name": "=",
            "in": "query",
            "required": false,
            "description": "Get entries that matches exactly your input",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_ne",
            "in": "query",
            "required": false,
            "description": "Get records that are not equals to something",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_lt",
            "in": "query",
            "required": false,
            "description": "Get record that are lower than a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_lte",
            "in": "query",
            "required": false,
            "description": "Get records that are lower than or equal to a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_gt",
            "in": "query",
            "required": false,
            "description": "Get records that are greater than a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_gte",
            "in": "query",
            "required": false,
            "description": "Get records that are greater than  or equal a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_contains",
            "in": "query",
            "required": false,
            "description": "Get records that contains a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_containss",
            "in": "query",
            "required": false,
            "description": "Get records that contains (case sensitive) a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_in",
            "in": "query",
            "required": false,
            "description": "Get records that matches any value in the array of values",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "deprecated": false
          },
          {
            "name": "_nin",
            "in": "query",
            "required": false,
            "description": "Get records that doesn't match any value in the array of values",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "deprecated": false
          }
        ]
      },
      "post": {
        "deprecated": false,
        "description": "Create and process a new score repors.",
        "operationId": "createReport",
        "responses": {
          "200": {
            "description": "Retrieve reports document(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reports"
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Create a new score report",
        "tags": [
          "Reports"
        ],
        "requestBody": {
          "description": "The fields to generete a score report. While most parameters are optional, is strongly recommended to fill out as many as possible.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewReports"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewReports"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/NewReports"
              }
            }
          }
        }
      }
    },
    "/reports/count": {
      "get": {
        "deprecated": false,
        "description": "Get report count across all users.",
        "operationId": "countReports",
        "responses": {
          "200": {
            "description": "Retrieve reports document(s)",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Retrieve the number of score reports",
        "tags": [
          "Reports"
        ],
        "parameters": []
      }
    },
    "/reports/{id}": {
      "get": {
        "deprecated": false,
        "description": "Get one score report based on its `Id`",
        "operationId": "getReport",
        "responses": {
          "200": {
            "description": "Retrieve reports document(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reports"
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Find one score report",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Report Id",
            "deprecated": false,
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
    },
    "/trainings": {
      "get": {
        "deprecated": false,
        "description": "Retrieve information about AI agent training history and its performance score.",
        "operationId": "getTrainings",
        "responses": {
          "200": {
            "description": "Retrieve trainings document(s)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Trainings"
                  }
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Find all the training records",
        "tags": [
          "Trainings"
        ],
        "parameters": [
          {
            "name": "_limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results possible",
            "schema": {
              "type": "integer"
            },
            "deprecated": false
          },
          {
            "name": "_sort",
            "in": "query",
            "required": false,
            "description": "Sort according to a specific field.",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_start",
            "in": "query",
            "required": false,
            "description": "Skip a specific number of entries (especially useful for pagination)",
            "schema": {
              "type": "integer"
            },
            "deprecated": false
          },
          {
            "name": "=",
            "in": "query",
            "required": false,
            "description": "Get entries that matches exactly your input",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_ne",
            "in": "query",
            "required": false,
            "description": "Get records that are not equals to something",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_lt",
            "in": "query",
            "required": false,
            "description": "Get record that are lower than a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_lte",
            "in": "query",
            "required": false,
            "description": "Get records that are lower than or equal to a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_gt",
            "in": "query",
            "required": false,
            "description": "Get records that are greater than a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_gte",
            "in": "query",
            "required": false,
            "description": "Get records that are greater than  or equal a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_contains",
            "in": "query",
            "required": false,
            "description": "Get records that contains a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_containss",
            "in": "query",
            "required": false,
            "description": "Get records that contains (case sensitive) a value",
            "schema": {
              "type": "string"
            },
            "deprecated": false
          },
          {
            "name": "_in",
            "in": "query",
            "required": false,
            "description": "Get records that matches any value in the array of values",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "deprecated": false
          },
          {
            "name": "_nin",
            "in": "query",
            "required": false,
            "description": "Get records that doesn't match any value in the array of values",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "deprecated": false
          }
        ]
      },
      "post": {
        "deprecated": false,
        "description": "Manually lanch or schedule a training task. Please note that training will be queued and run asynchronously.",
        "operationId": "createTraining",
        "responses": {
          "200": {
            "description": "Retrieve trainings document(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Trainings"
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Create a new training",
        "tags": [
          "Trainings"
        ],
        "requestBody": {
          "description": "The trigger parameter of new training.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewTrainings"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/NewTrainings"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/NewTrainings"
              }
            },
          }
        }
      }
    },
    "/trainings/count": {
      "get": {
        "deprecated": false,
        "description": "Gets the counts of all agent trainings.",
        "operationId": "countTrainings",
        "responses": {
          "200": {
            "description": "Retrieve trainings document(s)",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Retrieve the nubver of trainings",
        "tags": [
          "Trainings"
        ],
        "parameters": []
      }
    },
    "/trainings/{id}": {
      "get": {
        "deprecated": false,
        "description": "Gets the information about an specific training and its performance metrics.",
        "operationId": "getTraining",
        "responses": {
          "200": {
            "description": "Retrieve trainings document(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Trainings"
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Find one training",
        "tags": [
          "Trainings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Training Id",
            "deprecated": false,
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
    },
    "/trainings/cancel/{id}": {
      "post": {
        "deprecated": false,
        "description": "Cancels a queued training.",
        "operationId": "cancelTraining",
        "responses": {
          "200": {
            "description": "Canceled successfuly",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Trainings"
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Cancel queued training",
        "tags": [
          "Trainings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Training",
            "deprecated": false,
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
    },
    "/email": {
      "post": {
        "x-docgenIgnore": true,
        "deprecated": false,
        "description": "Endpoint to send emails to internal users.",
        "operationId": "sendEmail",
        "responses": {
          "200": {
            "description": "Email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "example" : {
                  "code": 200,
                  "message": "Email sent successfully"
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Send an email",
        "tags": [
          "Email - Email"
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "id": {
                    "description": "Id, username or email for the receiver",
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/upload": {
      "post": {
        "deprecated": false,
        "description": "This is a multipurpose endpoin to upload a file to the logged user.",
        "operationId": "uploadFile",
        "responses": {
          "200": {
            "description": "Upload successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Upload a file",
        "tags": [
          "Upload - File"
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "filename": {
                    "type": "string"
                  },
                  "binaryUrl": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/upload/files/count": {
      "get": {
        "deprecated": false,
        "description": "Retrieve the total number of uploaded files across all users.",
        "operationId": "filesCount",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                },
                "example" : {
                  "code": 200,
                  "message": "OK"
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Retrieve number of uploaded files",
        "tags": [
          "Upload - File"
        ],
        "parameters": []
      }
    },
    "/upload/files": {
      "get": {
        "deprecated": false,
        "description": "Get a list of files belonging to logged account.",
        "operationId": "getFiles",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "filename": {
                      "type": "string"
                    },
                    "binaryUrl": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Retreive all file documents",
        "tags": [
          "Upload - File"
        ],
        "parameters": []
      }
    },
    "/upload/files/{id}": {
      "get": {
        "deprecated": false,
        "description": "Retrieve a single file by its `Id`",
        "operationId": "getFile",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "filename": {
                      "type": "string"
                    },
                    "binaryUrl": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Get one file",
        "tags": [
          "Upload - File"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "File Id",
            "deprecated": false,
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "deprecated": false,
        "description": "Delete an uploaded file",
        "operationId": "deleteFile",
        "responses": {
          "200": {
            "description": "Deleted successfuly",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "",
        "tags": [
          "Upload - File"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "File Id",
            "deprecated": false,
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/upload/search/{query}": {
      "get": {
        "deprecated": false,
        "description": "Performs a search for an uploaded file by its file name.",
        "operationId": "findFile",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "filename": {
                      "type": "string"
                    },
                    "binaryUrl": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "**Forbidden**: this operation requeris authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message":"Error - Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "**Not found**: the resource was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }, "example": {
                  "code": 404,
                  "message":"Error - Not found"
                }
              }
            }
          },
          "default": {
            "description": "**Unexpected error**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
[...]
